.image-banner {
    position: relative;
	width: 100%;
	box-sizing: border-box;
}

.image-banner h2 {
    font-size: 5.0vw;
    font-weight: 640;
    margin-left: 20px;
    color: rgb(239, 242, 244);
}

.image-banner img {
	width: calc(100% - 40px);
	height: auto;
    border-radius: 10px;
    margin-left: 20px; /* 左側に30pxの余白を追加 */
	margin-right: 20px; /* 右側に30pxの余白を追加 */
}

.banner-text {
	font-size: 3vw;
    position: absolute;
    top: 12%;
    left: 45%;
    width: 90%;
	padding: 20px;
    transform: translate(-50%, -50%);
    color: white;
}

.banner-button {
    position: absolute;
    bottom: 20px;
    left: 40px;
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background-color: #63bbd8; /* ボタンの背景色 */
    text-decoration: none; /* リンクの下線を消す */
    border-radius: 10px; /* ボタンの角を丸くする */
    font-size: 4.0vw; /* フォントサイズを調整 */
}

.banner-button:hover {
    background-color: #0056b3; /* マウスオーバー時の色 */
}
