#works h2 {
    color: #6b6868;
	font-size: 4.0vw;
    text-align: left;
	margin-left: 40px;
}

section {
    max-width: 100%;  /* 最大幅を設定 */
}

.works-img {
    width: 30%;
    height: auto;  /* 高さは自動（アスペクト比を保つ） */
    
}

.img-container {
    display: flex;
    justify-content: space-around;  /* 画像間のスペースを均等に */
    flex-wrap: wrap;  /* 必要に応じて次の行に移動 */
}
